AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

S3_BUCKET_NAME=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce_warehouse
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=your_postgres_password